In [34]:
import pandas as pd
import numpy as np
df=pd.read_csv('googleplaystore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [4]:
(df['App'].str.contains('astrology',case=False)).sum()

3

In [5]:
(df['App'].str.contains('astrology')).sum()

0

In [6]:
(df['Category'].str.contains('Family',case=False)).sum()

1972

In [7]:
df_cat = df['Category'].unique()
a=len(df_cat)
print(a)

34

In [8]:
df['Category'].nunique()

34

In [9]:
df['Category'].value_counts()

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: count, dtype: int64

In [10]:
df['Rating'].mean()

4.193338315362443

In [11]:
df_cat = df[['Category','Rating']]
df_cat

                  Category  Rating
0           ART_AND_DESIGN     4.1
1           ART_AND_DESIGN     3.9
2           ART_AND_DESIGN     4.7
3           ART_AND_DESIGN     4.5
4           ART_AND_DESIGN     4.3
...                    ...     ...
10836               FAMILY     4.5
10837               FAMILY     5.0
10838              MEDICAL     NaN
10839  BOOKS_AND_REFERENCE     4.5
10840            LIFESTYLE     4.5

[10841 rows x 2 columns]

In [12]:
#Which category is getting the highest average rating?
df_cat_rat = df.groupby('Category')['Rating'].mean().sort_values(ascending=False)
df_cat_rat

Category
1.9                    19.000000
EVENTS                  4.435556
EDUCATION               4.389032
ART_AND_DESIGN          4.358065
BOOKS_AND_REFERENCE     4.346067
PERSONALIZATION         4.335987
PARENTING               4.300000
GAME                    4.286326
BEAUTY                  4.278571
HEALTH_AND_FITNESS      4.277104
SHOPPING                4.259664
SOCIAL                  4.255598
WEATHER                 4.244000
SPORTS                  4.223511
PRODUCTIVITY            4.211396
HOUSE_AND_HOME          4.197368
FAMILY                  4.192272
PHOTOGRAPHY             4.192114
AUTO_AND_VEHICLES       4.190411
MEDICAL                 4.189143
LIBRARIES_AND_DEMO      4.178462
FOOD_AND_DRINK          4.166972
COMMUNICATION           4.158537
COMICS                  4.155172
NEWS_AND_MAGAZINES      4.132189
FINANCE                 4.131889
ENTERTAINMENT           4.126174
BUSINESS                4.121452
TRAVEL_AND_LOCAL        4.109292
LIFESTYLE               4.094904
VIDEO_PLAYERS           4.063750
MAPS_AND_NAVIGATION     4.051613
TOOLS                   4.047411
DATING                  3.970769
Name: Rating, dtype: float64

In [13]:
df_cat_rat = df[df['Rating']==df.groupby('Category')['Rating'].mean().max()][['Category','App','Rating']]
df_cat_rat

      Category                                      App  Rating
10472      1.9  Life Made WI-Fi Touchscreen Photo Frame    19.0

In [14]:
df_cat_rat_mean = df.groupby('Category')['Rating'].mean().max()
df_cat_rat_mean

19.0

In [15]:
df[df['Rating']==4.0][['Category']]

                Category
20        ART_AND_DESIGN
39        ART_AND_DESIGN
50     AUTO_AND_VEHICLES
58     AUTO_AND_VEHICLES
66     AUTO_AND_VEHICLES
...                  ...
10802             FAMILY
10814             FAMILY
10817              TOOLS
10826             SOCIAL
10834             FAMILY

[568 rows x 1 columns]

In [16]:
df.shape

(10841, 13)

In [17]:
type_app = df.groupby('Type')[['App']].nunique()
type_app

       App
Type
0        1
Free  8904
Paid   756

In [18]:
df['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

In [19]:
df['Reviews']=df['Reviews'].replace('3.0M','3.00') # replacing some values inside a row
df['Reviews']=df['Reviews'].astype(float) # convert into some specific datatype
df['Reviews'].mean() # taking the mean

444111.9265750392

In [20]:
df['Rating'].mean() # taking the mean

4.193338315362443

In [21]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews           float64
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [22]:

df['Installs'] = df['Installs'].replace(r'[,+]', '', regex=True)
df['Installs'] = df['Installs'].replace('Free','0')
df['Installs'].astype(float)

0           10000.0
1          500000.0
2         5000000.0
3        50000000.0
4          100000.0
            ...
10836        5000.0
10837         100.0
10838        1000.0
10839        1000.0
10840    10000000.0
Name: Installs, Length: 10841, dtype: float64

In [23]:
df_max_ins=df['Installs'].max()
df_max_ins

'500000000'

In [24]:
df_app_max_ins = df[(df['Installs'].max()==df['Installs'])][['App', 'Installs']]
# df_cat_rat = df[df['Rating']==df.groupby('Category')['Rating'].mean().max()][['Category']]
df_app_max_ins

                                                    App   Installs
342                                     Viber Messenger  500000000
347                       imo free video calls and chat  500000000
371               Google Duo - High Quality Video Calls  500000000
378         UC Browser - Fast Download Private & Secure  500000000
383                       imo free video calls and chat  500000000
...                                                 ...        ...
4365                                          MX Player  500000000
4566                         SHAREit - Transfer & Share  500000000
4676                                    Viber Messenger  500000000
5596                                     Samsung Health  500000000
7536  Security Master - Antivirus, VPN, AppLock, Boo...  500000000

[72 rows x 2 columns]

In [25]:
df['Reviews'].max()

78158306.0

In [26]:
df_app_max_rev = df[(df['Reviews'].max()==df['Reviews'])][['App', 'Reviews']]
# df_cat_rat = df[df['Rating']==df.groupby('Category')['Rating'].mean().max()][['Category']]
df_app_max_rev

           App     Reviews
2544  Facebook  78158306.0

In [27]:
# category ko adharma no of apps
df_cat_app=df.groupby('Category')['App'].nunique()
df_cat_app

Category
1.9                       1
ART_AND_DESIGN           64
AUTO_AND_VEHICLES        85
BEAUTY                   53
BOOKS_AND_REFERENCE     222
BUSINESS                420
COMICS                   56
COMMUNICATION           316
DATING                  171
EDUCATION               119
ENTERTAINMENT           102
EVENTS                   64
FAMILY                 1909
FINANCE                 345
FOOD_AND_DRINK          112
GAME                    960
HEALTH_AND_FITNESS      288
HOUSE_AND_HOME           74
LIBRARIES_AND_DEMO       84
LIFESTYLE               369
MAPS_AND_NAVIGATION     131
MEDICAL                 396
NEWS_AND_MAGAZINES      254
PARENTING                60
PERSONALIZATION         376
PHOTOGRAPHY             281
PRODUCTIVITY            374
SHOPPING                202
SOCIAL                  239
SPORTS                  327
TOOLS                   829
TRAVEL_AND_LOCAL        219
VIDEO_PLAYERS           164
WEATHER                  79
Name: App, dtype: int64

In [28]:
df['Installs']=df['Installs'].astype(float) # converting installs into float from string

In [29]:
# category ko adharma no of installs
df_cat_app=df.groupby('Category')['Installs'].sum()
df_cat_app

Category
1.9                    0.000000e+00
ART_AND_DESIGN         1.243381e+08
AUTO_AND_VEHICLES      5.313021e+07
BEAUTY                 2.719705e+07
BOOKS_AND_REFERENCE    1.921470e+09
BUSINESS               1.001915e+09
COMICS                 5.608615e+07
COMMUNICATION          3.264728e+10
DATING                 2.643108e+08
EDUCATION              8.714520e+08
ENTERTAINMENT          2.869160e+09
EVENTS                 1.597316e+07
FAMILY                 1.025826e+10
FINANCE                8.766487e+08
FOOD_AND_DRINK         2.738988e+08
GAME                   3.508602e+10
HEALTH_AND_FITNESS     1.583073e+09
HOUSE_AND_HOME         1.687125e+08
LIBRARIES_AND_DEMO     6.299591e+07
LIFESTYLE              5.376435e+08
MAPS_AND_NAVIGATION    7.242819e+08
MEDICAL                5.325744e+07
NEWS_AND_MAGAZINES     7.496318e+09
PARENTING              3.152111e+07
PERSONALIZATION        2.325495e+09
PHOTOGRAPHY            1.008825e+10
PRODUCTIVITY           1.417609e+10
SHOPPING               3.247849e+09
SOCIAL                 1.406987e+10
SPORTS                 1.751174e+09
TOOLS                  1.145277e+10
TRAVEL_AND_LOCAL       6.868887e+09
VIDEO_PLAYERS          6.222003e+09
WEATHER                4.261005e+08
Name: Installs, dtype: float64

In [30]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [37]:
df['Last Updated'] = pd.to_datetime(df['Last Updated'], dayfirst=True, errors='coerce') # errors='coerce' converts the misformatted data into nan
df_last_update_date = df['Last Updated'].max()
df_first_update_date = df['Last Updated'].min()
df_last_update_date, df_first_update_date

(Timestamp('2018-08-08 00:00:00'), Timestamp('2010-05-21 00:00:00'))

In [ ]:
df